.pages {
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.page {
    color:#454545;
    margin-left:5px;
    margin-right:5px;
}

li.active.page {
    color:#868161;
    font-weight: bold;
}