.cover img {
    height:400px;
}
.cover {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}

.descriptionBlock img {
    width:120px;
    border-radius:50%;
}

.descriptionBlock {
    margin-left: 6%;
    position:relative;
    z-index:50;
    padding:10px;
    top:-400px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
}

.profileInfoBlock {
    height:400px;
    width:100%;
}