.app-wrapper {
  display:grid;

  grid-template-areas:
  "h h"
  "n c"
;

  grid-template-rows:100px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area:h;
  background-color: #fff8b1;
}
.header img {
  width:100px;
  height:100px;
}
.nav {
  grid-area:n;
  background-color: #868161;
}
.profile {
  grid-area:c;
  background-color: #e7ffcc;
}